{% extends "base.html" %}
{% block content %}
{% if error %}
{{ error }}
{% else %}
	<div>
		{% for p in pList %}
		<p><a href="/wm/sbymonth/{{ p.year }}/{{ p.month }}/">{{ p.year }}年{{ p.month }}月工资记录</a></p>
		{% endfor %}
	</div>
	<div id="page">
		<a href="/wm/allsalary/{% if now > 1 %}{{ now|add:"-1" }}{% else %}1{% endif %}/"><</a>
		{% for i in pageNum %}<a href="/wm/allsalary/{{ i }}/" {% if i == now %} class="current"{% endif %}>{{ i }}</a>{% endfor %}
		<a href="/wm/allsalary/{{ now|add:"1" }}/">></a>
	</div>
{% endif %}
{% endblock %}
