{% extends "base.html" %}
{% block content %}
<h3>最新签到</h3>
{% if error %}
{{ error }}
{% else %}
<div>
	{% for item in items %}
	<p><a href="/wm/detail/{{ item.id }}/">{{ item.checkDate }}{{ item.periodType }}签到............................................by{{ item.handler.name }}</a></p>
	{% endfor %}
</div>
<div id="page">
	<a href="/wm/viewcheck/{% if now > 1 %}{{ now|add:"-1" }}{% else %}1{% endif %}/"><</a>
	{% for i in numList %}<a href="/wm/viewcheck/{{ i }}/" {% if i == now %} class="current"{% endif %}>{{ i }}</a>{% endfor %}
	<a href="/wm/viewcheck/{{ now|add:"1" }}/">></a>
</div>
{% endif %}
{% endblock %}
